{% extends "base.html" %}
{% block title %}Treatments{% endblock %}
{% block tagline_text %}Treatments{% endblock %}
{% block maincontent %}
<!--main content-->
<section class="mainContentWrap">
  <div class="container mainContent">
    <div class="row-fluid">
      <div class="span9">
        <div class="row-fluid">
          <div class="innerSpacer">

            <!--404 error-->
            <div class="row-fluid">
              <div class="span12">
		<h1>Coming Soon</h1>
              </div>
            </div>



          </div>
        </div>
      </div>






    </div>
  </div>
</section>

{% endblock %}
