---
hnp_active: active
title: H&P Wizard

header_title: H&P Wizard
header_text: A template with intelligent hints
---

<!-- build:js /styles/medium.css -->
<!-- bower:css -->
<link rel="stylesheet" href="../bower_components/medium-editor/dist/css/medium-editor.css">
<link rel="stylesheet" href="../bower_components/medium-editor/dist/css/themes/default.css">
<!-- endbower -->
<!-- endbuild -->

<style>
    dt { padding-top: 20px; }

    dd { margin-left: 20px;
        border: 1px dotted #CCC;
    }
</style>

<!-- outline: 0px solid transparent; //-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <!-- TODO: add back  class="dl-horizontal" if i can fix it //-->
                    <dl style="font-size: 16px;">
                        <dt>CC:</dt>
                        <dd data-placeholder="Complaint (in the patient's words)"></dd>

                        <dt>HPI:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>PMHx:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>PSHx:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>PSHx:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>Meds:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>Allergies:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>FHx:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>SHx:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>ROS:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>PE:</dt>
                        <dd data-placeholder=""></dd>

                        <dt>A&P:</dt>
                        <dd data-placeholder=""></dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">H&P Tips</div>
                        <div class="panel-body">Live hints go here</div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">Abbreviations</div>
                        <div class="panel-body">Live abbreviations go here</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:js /scripts/medium.js -->
<!-- bower:js -->
<script src="../bower_components/medium-editor/dist/js/medium-editor.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script>
        {{! This is a hackjob. Fix this up. }}
    window.onload = function() {
        $('dd').addClass('editable');
//            var editor = new MediumEditor('.editable', {placeholder: 'what the shit'});
        var editor = new MediumEditor('.editable', {placeholder: ''});
    }
</script>
