---
hnp_active: active
title: H&P Wizard

header_title: H&P Wizard
header_text: A template with intelligent hints
---

<!-- build:js /styles/medium.css -->
<!-- bower:css -->
<link rel="stylesheet" href="../bower_components/medium-editor/dist/css/medium-editor.css">
<link rel="stylesheet" href="../bower_components/medium-editor/dist/css/themes/default.css">
<!-- endbower -->
<!-- endbuild -->


<!-- outline: 0px solid transparent; //-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Editor</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>CC:</dt>
                <dd class="editable"></dd>

                <dt>HPI:</dt>
                <dd class="editable"></dd>

                <dt>PMHx:</dt>
                <dd>TEXT</dd>

                <dt>PSHx:</dt>
                <dd></dd>

                <dt>PSHx:</dt>
                <dd></dd>


                <dt>Meds:</dt>
                <dd></dd>


                <dt>Allergies:</dt>
                <dd></dd>


                <dt>FHx:</dt>
                <dd></dd>


                <dt>SHx:</dt>
                <dd></dd>


                <dt>ROS:</dt>
                <dd></dd>


                <dt>PE:</dt>
                <dd></dd>


                <dt>A&P:</dt>
                <dd></dd>
            </dl>

        </div>
    </div>
</div>


<!-- build:js /scripts/medium.js -->
<!-- bower:js -->
<script src="../bower_components/medium-editor/dist/js/medium-editor.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script>
    {{! This is a hackjob. Fix this up. }}
    window.onload = function() {
        $('dd').addClass('editable');
        var editor = new MediumEditor('.editable', {});
    }
</script>
