---
hnp_active: active
title: H&P Wizard

header_title: H&P Wizard
header_text: A template with intelligent hints
---

<style>
    dt { padding-top: 20px; }
    dd { padding-top: 12px; }
</style>

<!-- outline: 0px solid transparent; //-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <dl class="dl-horizontal" style="font-size: 16px;">
                        <dt>CC:</dt>
                        <dd>
                            <textarea class="form-control" placeholder="Complaint (in the patient's words)" rows="2"></textarea>
                        </dd>

                        <dt>HPI:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>PMHx:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>PSHx:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>PSHx:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>Meds:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>Allergies:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>FHx:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>SHx:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>ROS:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>PE:</dt>
                        <dd><p data-placeholder=""></p></dd>

                        <dt>A&P:</dt>
                        <dd><p data-placeholder=""></p></dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">H&P Tips</div>
                        <div class="panel-body">Live hints go here</div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">Abbreviations</div>
                        <div class="panel-body">Live abbreviations go here</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        {{! This is a hackjob. Fix this up. }}
    window.onload = function() {
        $('dd>p').addClass('editable');

    }
</script>
