{% extends "base.html" %}
{% block title %}Heart and Vessels{% endblock %}
{% block tagline_text %}Heart and Vessels{% endblock %}
{% block maincontent %}
<section class="mainContentWrap">
<div class="container mainContent">
<div class="row-fluid">
<div class="span9">
<div class="row-fluid">
<div class="innerSpacer">

{% include "_disclaimer.html" %}

<div class="row-fluid pageTitle">
    <div class="span12"><h1>The Mentor Blog</h1></div>
</div>

<!--post-->
<div class="row-fluid">
    <div class="span12 post">

        <!--post content-->
        <div class="row-fluid post-content">

            <div class="row-fluid">
                <div class="span2">
                      <span class="btn btn-inverse">
                        <i class="icon-facetime-video icon-white"></i>
                      </span>
                </div>
                <div class="span10 post-title">
                    <h3>
                        <a href="blog_post_standard.html">Post Without Featured Image</a>
                    </h3>
                </div>
            </div>


            <div class="row-fluid">
                <div class="span2 post-meta">
                    <p class="post-date">23 Mar 2012</p>
                    <p class="tags">
                        <a href="#">standard</a>,
                        <a href="#">startup</a>,
                        <a href="#">strategy</a>,
                        <a href="#">risk</a>
                    </p>
                    <p class="comments-num"><a href="#">5<span class="icon-comment"></span></a></p>
                </div>
                <div class="span10">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet. Quisque fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus. Donec metus. Curabitur gravida.</p>
                </div>
            </div>
        </div>
        <!--end post content-->

    </div>
</div>
<!--end post-->



<!--post-->
<div class="row-fluid">
    <div class="span12 post">

        <div class="row-fluid">
            <div class="span12 post-image">
                <div class="portfolioItem galleryCover">
                    <a href="blog_post_gallery_fullscreen.html">
                        <img src="http://placehold.it/100x100" alt="gallery cover" />
                        <span></span>
                    </a>
                    <div class="title">
                        <span> &times; 06</span><a href="blog_post_gallery_fullscreen.html">Derelict Beauty</a>
                        <a href="blog_post.html"><img src="http://placehold.it/400x150" alt="post image" /></a>
                    </div>
                    <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. </p>
                </div>
            </div>
        </div>

        <!--post content-->
        <div class="row-fluid post-content">

            <div class="row-fluid">
                <div class="span2">
                      <span class="btn btn-inverse">
                        <img src="img/skin/icon-fullscreen.png" alt="fullscreen" />
                      </span>
                </div>
                <div class="span10 post-title">
                    <h3>
                        <a href="blog_post_gallery_fullscreen.html">Gallery Post ( Fullscreen )</a>
                    </h3>
                </div>
            </div>


            <div class="row-fluid">
                <div class="span2 post-meta">
                    <p class="post-date">23 Mar 2012</p>
                    <p class="tags">
                        <a href="#">standard</a>,
                        <a href="#">startup</a>,
                        <a href="#">strategy</a>,
                        <a href="#">risk</a>
                    </p>
                    <p class="comments-num"><a href="#">5<span class="icon-comment"></span></a></p>
                </div>
                <div class="span10">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec.</p>
                </div>
            </div>
        </div>
        <!--end post content-->

    </div>
</div>
<!--end post-->


<!--post-->
<div class="row-fluid">
    <div class="span12 post">
        <div class="row-fluid post-image">
            <div class="span2">
                      <span class="btn btn-inverse">
                        <img src="img/skin/icon-quote.png" alt="quotation" />
                      </span>
            </div>
            <div class="span10">
                <blockquote><p>"Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>, donec odio. Quisque volutpat mattis eros."</p><small class="pull-right">John Dough, Client</small></blockquote></div>
        </div>

        <!--post content-->
        <div class="row-fluid post-content">



            <div class="row-fluid">
                <div class="span2 post-meta">
                    <p class="post-date">23 Mar 2012</p>
                    <p class="tags">
                        <a href="#">quotes</a>,
                        <a href="#">tips</a>
                    </p>

                </div>
                <div class="span10 ">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
                </div>
            </div>
        </div>
        <!--end post content-->

    </div>
</div>
<!--end post-->


</div>
</div>
</div>

<aside class="span3 sidebar">


    <!--categories widget-->

    <div class="widget widget_categories">
        <h4>Patient Support Resources</h4>
        <ul>
            <li class="cat-item">
                <a href="#">Some Site Here</a>
            </li>
            <li class="cat-item">
                <a href="#">Some Site Here</a>(For Profit)
            </li>
            <li class="cat-item">
                <a href="#">Some Site Here</a>(Great Site!)
            </li>
            <li class="cat-item">
                <a href="#">Some Site Here</a>
            </li>
        </ul>
    </div>


    <!--tabs widget-->
    <div class="widget widget_tabs">
        <h3>Tabs Widget</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
            <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <p>Lorem1 ipsum dolor sit amet, consec tetuer adipiscing elit. Phasellus hen drerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapi bus id, mattis vel, nisi. Sed pretium.</p>
            </div>
            <div class="tab-pane" id="tab2">
                <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
            </div>
        </div>

    </div>


    <!--text widget-->

    <div class="widget widget_text">
        <h3>Text Widget 1</h3>
        <div class="textwidget"><p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Phasellus hen drerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapi bus id, mattis vel, nisi. Sed pretium.</p></div> <a href="#"><span class="label">Read More</span></a>
    </div>

    <div class="widget widget_portfolio">
        <h4>Patient Support Resources</h4>
        <div>
            <a href="#" class="peOver"><br/><span></span></a>
            <div class="title">
                <span class="icon-picture"></span><a href="#">Connect to Others</a><br />
            </div>
	    <ul>
	      <li>test</li>
	      <li>test</li>
	    </ul>
        </div>
    </div>

</aside>
</div>
</div>
</section>
{% endblock %}
