{% extends "_base.html" %}

{% set about_active = 'active' %}
{% block title %}About Us{% endblock %}
{% block tagline_text %}About Us{% endblock %}
{% block lead %}About ClinDesk &amp; White Coat Academy{% endblock %}

{# We want a breadcrumb / header block. #}
{% set header_title = "About" %}
{% set header_text = "Our Team" %}

{% block maincontent%}
<div class="container">

    <div class="row">

        <div class="col-md-7">
            <h2>Welcome to ClinDesk</h2>
            <p>We're a group of senior medical students and resident physicians who are passionate about opening up
                the private world of medical knowledge and education.</p>
            <p>Our mission is simple: to lead the transition of medical education from a proprietary to
                an “open” process. Current medical education is broken, and far too few people have access to medical knowledge.</p>
            <p>Through ClinDesk, Inc., a non-profit corporation, we hope to spawn many <a href="https://creativecommons.org/" target="_blank">Creative
                Commons</a>-licensed works and expand the accessibility of medical resources. If you share our vision, and
                you're interested in helping to open the closed state of medical education, please get in touch.</p>
            <p>You can find some of our advocacy in the New England Journal of Medicine piece:
                <a href="http://nejm200.nejm.org/essay/a-century-after-flexner-the-next-step-is-open/" target="_blank">A Century after Flexner, the Next Step is Open</a></p>
        </div>
        <br><br>
        <div class="col-md-5 well">
            <h4 style="text-align: center">Get in Touch</h4>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>General Questions &amp; Feedback</td>
                    <td><a href="mailto:team@clindesk.org">team@clindesk.org</a></td>
                </tr>
                <tr>
                    <td>Media Inquiries</td>
                    <td><a href="mailto:media@clindesk.org">media@clindesk.org</a></td>
                </tr>
                <tr>
                    <td>Legal &amp; DMCA Agent</td>
                    <td><a href="mailto:legal@clindesk.org">legal@clindesk.org</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{{assets}}img/heads/semenko.jpg">
            <h3>Nick Semenkovich<br><small>Founder & President</small></h3>
            <p>Nick hails from M.I.T. with two degrees in "Course 6" (Electrical Engineering and Computer science) and Course 7 (Biology). He's currently an MD/PhD student in the lab of Dr. Jeffrey Gordon.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/semenko" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/semenko" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/semenko" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="https://github.com/semenko" data-toggle="tooltip" data-placement="top" title="GitHub"><i class="fa fa-github-square fa-2x"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{{assets}}img/heads/aaronm.jpg">
            <h3>Aaron Mintz<br><small>Chief Operations Officer</small></h3>
            <p>Aaron spent his undergrad years at Stanford where he studied Symbolic Systems. He is currently a medicine resident. Aaron is also working on a health care startup.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/aaronmintz" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/aaronmintz" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{{assets}}img/heads/leo.jpg">
            <h3>Leo Shmuylovich<br><small>Chief Technology Officer</small></h3>
            <p>Leo is an MD/PhD student at Washington University, and recently sold his startup (Virtual Nerd) to Pearson Education. Leo completed his PhD in Dr. Sándor Kovác's laboratory.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/TheShmu" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/pub/leo-shmuylovich/10/346/a8" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/leoshmu" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="https://github.com/leoshmu" data-toggle="tooltip" data-placement="top" title="GitHub"><i class="fa fa-github-square fa-2x"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{{assets}}'img/heads/dgermain.jpg">
            <h3>David Germain<br><small>CFO & Visionary</small></h3>
            <p>David spent his undergrad at Stanford and is currently an MD/PhD student in the lab of Dr. Tim Ley, focused on epigenetic regulatory mechanisms of AML.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/dgermain" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/pub/david-russler-germain/13/501/613" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/dgermain21" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            </ul>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Non-Profit Governance</h2>
        </div>
        <div class="col-lg-12">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Overview</a></li>
                    <li><a href="#docs-state" data-toggle="tab">State Filings</a></li>
                    <li><a href="#docs-federal" data-toggle="tab">Federal Filings</a></li>
                    <li><a href="#docs-internal" data-toggle="tab">Policies &amp; Bylaws</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <i class="fa fa-gavel pull-left fa-2x"></i>
                        <p>At ClinDesk and White Coat Academy, we try to be as transparent as possible with our finances and governance
                            (in the hopes that you'll <a href="//www.whitecoatacademy.org/donate.html">donate</a> to help keep us going!).</p>
                        <p>You can see some of our documents listed in the above tabs. Over the next year, we'll expand these listings as we grow.</p>
                        <p>Some documents &mdash; such as the IRS 990 &mdash; won't be available until the next fiscal year, since we're just geting off the ground.</p>
                    </div>
                    <div class="tab-pane" id="docs-state">
                        We are a non-profit corporation, incorporated in the State of Missouri. You can access our corporate documents through the Secretary of State's <a href="http://www.sos.mo.gov/business/" target="_blank">Business Services</a> site.
                        <br/><br/><ul><li><a href="https://www.sos.mo.gov/BusinessEntity/soskb/Corp.asp?3353789" target="_blank">ClinDesk Registration &amp; Filings</a> (Charter #N01234644)</li>
                        <li><a href="https://www.sos.mo.gov/BusinessEntity/soskb/Corp.asp?3353954" target="_blank">White Coat Academy Name Registration</a> (Charter #X01234744)</li></ul>
                    </div>
                    <div class="tab-pane" id="docs-federal">Our federal filings for tax-exempt status are currently pending. We will update this site with documents when we know more!<br/><br/>
                        If you need our EIN (or other data, such as our DUNS number), please e-mail us at <a href="mailto:legal@clindesk.org">legal@clindesk.org</a>.</div>
                    <div class="tab-pane" id="docs-internal">We make an effort to publicize our bylaws, conflict of interest policy, and other documents regarding our corporate governance.
                        <br/><br/><ul>
                            <li>Corporate Bylaws (Coming soon)</li>
                            <li>Conflict of Interest Policy (Coming soon)</li>
                            <li>Copyright and Intellectual Property (Coming soon)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}