---
home_active: active
title: Welcome to ClinDesk
tagline_text: Welcome to ClinDesk
lead: Opening Medical Education

---

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome to ClinDesk: Opening Medical Education</h1>
                <h3>Bringing open source resources to medicine.</h3>
                <hr>
            </div>
        </div><!-- /.row -->

    </div><!-- /.container -->

</div><!-- /.section-colored -->


<div class="section">

    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h3>New: Try out clinical calculators and medical calculator apps.</h3>
                <h5>Including Framingham risk, MELD, Ranson, CHADS2, TIMI, Warfarin dosing &hellip; </h5>
            </div>
            <div class="col-lg-4 col-md-4"><br>
                <a class="btn btn-lg btn-primary pull-right" href="/calc/">Try our Medical Calculators &rarr;</a>
            </div>
        </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="container">

        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <p>ClinDesk comprises a team of senior medical students and resident physicians who are passionate about opening the otherwise closed world of medical knowledge.</p>
                <p>Soon, we'll be launching lots of Creative Commons-licensed medical resources, including:
                <ul>
                    <li>Free medical education videos, through our sister-site <a href="https://www.WhiteCoatAcademy.org/" target="_blank">White Coat Academy</a></li>
                    <li>Open USMLE prep materials, including a Goljan-esque Step I review series</li>
                    <li>An interactive physical exam tutorial featuring gunner-style facts (remember <a href="https://en.wikipedia.org/wiki/Duroziez%27s_sign" target="_blank">Duroziez's sign</a>?)</li>
                    <li>An H&amp;P/SOAP note wizard, with hints on important acronyms and diagnostics</li>
                    <li>The <a href="https://www.vaccinatedoctors.org/">Vaccinate Doctors Initiative</a>, advocating for influenza vaccines</li>
                </ul>
                <p>Hopefully we can change the face of medical education. If you're interested in helping out, please get in touch!</p><br>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <p>Stay tuned,</p>
                <p>Nick Semenkovich</p>
                <p style="line-height:0px">Founder</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <img src="{{assets}}logos/bottom-drop-banner.png" height="120" width="600" alt="ClinDesk &amp; WhiteCoatAcademy" class="img-responsive img-thumbnail">
            </div>

        </div><!-- /.row -->

    </div><!-- /.container -->

</div><!-- /.section -->
