{# TODO: Make this a modularized for loop via Flask whatnots. #}
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail">
{#                        <img src="http://placehold.it/260x180" alt="">#}
                        <div class="caption" style="text-align: center">
                            <h5>Metabolism &amp; Endocrine</h5>
                            <p>Thyroid &amp; Parathyroid,<br/>
                            Adrenal Gland,
                            Diabetes,<br/>
                            Lipid Disorders,<br/>
                            Vitamins and Nutrition, Genetic Disorders (MEN I and II)</p>
                            <p><a href="/conditions/" class="btn btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
{#                        <img src="http://placehold.it/260x180" alt="">#}
                        <div class="caption" style="text-align: center">
                            <h5>Blood, Bone Marrow, Lymphatics</h5>
                            <p>Red Blood Cell Conditions,
                                Clotting and Coagulation,
                                Leukemias,<br/>
                                Lymphomas,<br/>
                                Benign Bone Marrow Disorders</p>
                            <p><a href="#" class="btn btn-info disabled">Coming Soon</a></p>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
{#                        <img src="http://placehold.it/260x180" alt="">#}
                        <div class="caption" style="text-align: center">
                            <h5>Heart and Vessels</h5>
                            <p>Congenital Heart Defects,
                            Diseases of Blood Vessels,
                            Diagnostics and Blood Tests,
                            Coronary Circulation Conditions,
                            Cardiac Arrest</p>
                            <p><a href="#" class="btn btn-info disabled">Coming Soon</a></p>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
{#                        <img src="http://placehold.it/260x180" alt="">#}
                        <div class="caption" style="text-align: center">
                            <h5>Lungs</h5>
                            <p>Obstructive Disease
                            Environmental and Occupational Diseases
                            Pulmonary Circulation Conditions
                            Restrictive and Interstitial Diseases
                            Congenital Disorders</p>
                            <p><a href="#" class="btn btn-info disabled">Coming Soon</a></p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="divider dotted clearfix"><span></span></div>
        </div>
    </div>
</div>

{#row 2#}

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail">
{#                        <img src="http://placehold.it/260x180" alt="">#}
                        <div class="caption" style="text-align: center">
                            <h5>Digestion &amp; Gastrointestinal</h5>
                            <p>Stomach Ulcers,
                            Acid Reflux,
                            Irritable Bowel Syndrome,<br/>
                            Celiac Disease (Gluten Intolerance),<br/>
                            Colon Cancer</p>
                            <p><a href="#" class="btn btn-info disabled">Coming Soon</a></p>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
{#                        <img src="http://placehold.it/260x180" alt="">#}
                        <div class="caption" style="text-align: center">
                            <h5>Brain and Nervous System</h5>
                            <p>Headaches,
                                Alzheimers, <br/>
                                Brain Tumors,<br/>
                                Stroke, Bleeding, <br/>
								Degenerative Disc Disease,
                                Meningitis</p>
                            <p><a href="#" class="btn btn-info disabled">Coming Soon</a></p>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
{#                        <img src="http://placehold.it/260x180" alt="">#}
                        <div class="caption" style="text-align: center">
                            <h5>Kidneys and Urinary System</h5>
                            <p>Chronic Kidney Disease,
                            Acute Renal Failure,
                            Diabetic Nephropathy,
                            Urinary Incontinence,
                            Hypertension and the Kidney</p>
                            <p><a href="#" class="btn btn-info disabled">Coming Soon</a></p>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
{#                        <img src="http://placehold.it/260x180" alt="">#}
                        <div class="caption" style="text-align: center">
                            <h5>Obstetrics and Gynecology</h5>
                            <p>Preeclampsia, Breast Cancer,
                            Cervical Cancer, </br>endometrial cancer,</br>
                            Uterine Fibroids, Menopause</br>
                            Polycystic Ovarian Syndrome</p>
                            <p><a href="#" class="btn btn-info disabled">Coming Soon</a></p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="divider dotted clearfix"><span></span></div>
        </div>
    </div>
</div>
{# For now, one row of diseases. Copy & clone the above when we're ready. #}
