{% extends "_base.html" %}
{% block maincontent %}

<div class="container">
    <br>
    <div class="row">
        <div class="span8">
            <div class="innerSpacer">
                <iframe width="100%" width="640" height="390" seamless="seamless" src="http://www.youtube-nocookie.com/embed/{% block video_source %}{% endblock %}?rel=0&html5=1" frameborder="0"></iframe>
            </div>
        </div>
        <div class="span4">
            <div class="item-description">
                <p>{% block welcome_text %}welcome_text{% endblock %}</p>
                <div class="subtitle">
                    <img height="171" width="150" src="{% block author_image %}author_image{% endblock %}" style="box-shadow: 3px 3px 8px #888;" alt="{% block author_name %}{% endblock %}" />
                    <p><br><i>By {{ self.author_name() }}</i></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% block all_conditions %}all_conditions{% endblock %}
</div>
{% endblock %}
