{# TODO: Make this a modularized for loop via Flask whatnots. #}
<div class="row-fluid fixed-disease-height">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Metabolism &amp; Endocrine</h3>
          <p>Thyroid and Parathyroid, Adrenal Gland, Diabetes, Lipid and Cholesterol Disorders, Vitamins and Nutrition, Genetic Disorders</p><br>
          <p><a href="metabolism-and-endocrine/" class="btn btn-primary">See Metabolism and Endocrine</a></p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Blood, Bone Marrow, Lymph</h3>
          <p>Red Blood Cell Conditions,
          Clotting and Coagulation,
          Leukemias, Lymphomas,
          Benign Bone Marrow Disorders
          </p><br>
          <p><a href="#" class="btn btn-primary" disabled>Coming Soon</a></p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Heart and Vessels</h3>
          <p>Congenital Heart Defects, Diseases of Blood Vessels, Diagnostics and Blood Tests, Coronary Circulation Conditions, Cardiac Arrest</p><br>
          <p><a href="#" class="btn btn-primary" disabled>Coming Soon</a></p>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="row-fluid fixed-disease-height">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Lungs</h3>
          <p>Obstructive Disease,
          Environmental Exposures,
          Work-related Diseases,
          Pulmonary Hypertension,
          Congenital Disorders</p><br>
          <p><a href="#" class="btn btn-primary" disabled>Coming Soon</a></p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Digestion &amp; Gastrointestinal</h3>
          <p>Stomach Ulcers, Acid Reflux,
          Irritable Bowel Syndrome,
          Celiac Disease, Ulcerative Colitis &amp; Crohn's Disease,
          Colon Cancer</p><br>
          <p><a href="#" class="btn btn-primary" disabled>Coming Soon</a></p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Brain and Nervous System</h3>
          <p>Headaches, Alzheimers,
          Brain Tumors, Multiple Sclerosis,
          Strokes &ampl Bleeding,
          Degenerative Disc Disease,
          Meningitis, ALS</p><br>
          <p><a href="#" class="btn btn-primary" disabled>Coming Soon</a></p>
        </div>
      </div>
    </li>
  </ul>
</div>


<div class="row-fluid fixed-disease-height">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Kidneys and Urinary System</h3>
          <p>Chronic Kidney Disease, Urinary Tract Infections,
          Acute Renal Failure, Kidney Stones,
          Diabetic Nephropathy,
          Urinary Incontinence</p><br>
          <p><a href="#" class="btn btn-primary" disabled>Coming Soon</a></p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Obstetrics and Gynecology</h3>
          <p>Preeclampsia &amp; Pregnancy,
          Uterine Fibroids,
          Menopause,
          Polycystic Ovarian Syndrome,
          Cancers (Breast, Cervical, etc.)</p><br>
          <p><a href="#" class="btn btn-primary" disabled>Coming Soon</a></p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
            <form action="http://clindesk.us5.list-manage2.com/subscribe/post?u=b6cec37bff09d081f3eee6c75&amp;id=b4d36636c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

          <h3><b>Everything Else!</b></h3>
          <p>We're growing! If you'd like to be notified about updates, enter your address:</p>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info"></div>
            </form>
        </div>
      </div>
    </li>
  </ul>
</div>