<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &mdash; ClinDesk, Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}Nick Semenkovich (@semenko), ClinDesk &amp; White Coat Academy{% endblock %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    {%- if config.apphost is defined -%}
    {# Building for production. Use the CDN minified versions. #}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ static('css/cd-style.css') }}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Only serve analytics code if not running locally. -->
    {% include '_analytics_code.html' %}
    {% else %}
    {# Running locally. Use local versions (e.g. work on airplanes!) #}
    <link href="{{ static('css/bootstrap-3.0.2.css') }}" rel="stylesheet">
    <link href="{{ static('css/cd-style.css') }}" rel="stylesheet">
    <link href="{{ static('css/font-awesome-4.0.3.css') }}" rel="stylesheet">
    {% endif %}

    {# Move this to local dependent code? #}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {# TODO: Add Apple Touch icons & massive favicons. #}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# TODO: Remove this style override. Boo. #}
            <a class="navbar-brand" href="/" style="padding: 10px"><img src="{{ static('img/content/logo_sml.png') }}" alt="ClinDesk, Inc."></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                {# TODO: Cleaner implementation? #}
                <li class="{{ home_active }}"><a href="/">Home</a></li>
                <li class="{{ about_active }}"><a href="/about.html">About</a></li>
                <li class="{{ calc_active }}"><a href="/calc/">Medical Calculators</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

{% if header_title and header_text %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ header_title }} <small>{{ header_text }}</small></h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">{{ header_title }}</li>
            </ol>
        </div>
    </div>
</div>
{% endif %}

{#
<header class="jumbotron {% block jumbotron_class %}subhead{% endblock %}" id="overview">
    <div class="container">
        <h1>{% block tagline_text %}tagline_text{% endblock %}</h1>
        <p class="lead">{% block lead %}lead{% endblock %}</p>
        {% block extra_jumbotron %}{% endblock %}
    </div>
</header>
#}

{% block maincontent %}maincontent{% endblock %}


<div class="container">
    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>&copy; 2013—2014 ClinDesk, Inc., some rights reserved</p>
                <p>Videos are licensed under a Creative Commons <a rel="license" href="//creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US" target="_blank">CC BY NC SA 3.0</a> license.</p>
            </div>
        </div>
    </footer>

</div><!-- /.container -->


{%- if config.apphost is defined -%}
{# Building for production. Use the CDN minified versions. #}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- This crazy code is failover if a CDN is blocked / fails. -->
<script>window.jQuery || document.write('<script src="{{ static('js/jquery-1.10.2.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<!-- This crazy code is failover if a CDN is blocked / fails. -->
<script>$('body').popover || document.write('<script src="{{ static('js/bootstrap-3.0.2.js') }}">\x3C/script>')</script>
<script src="{{ static('js/cd-scripts.js') }}"></script>
{% else %}
{# Running locally. Use local versions (e.g. work on airplanes!) #}
<script src="{{ static('js/jquery-1.10.2.js') }}"></script>
<script src="{{ static('js/bootstrap-3.0.2.js') }}"></script>
<script src="{{ static('js/cd-scripts.js') }}"></script>
{% endif %}


</body>
</html>


