{# This a disclaimer that appears everywhere on CD & WCA.
        Dismissing the disclaimer adds a cookie, via /getcookie #}
<div class="alert alert-error fade in" id="disclaimer">
    <h4 class="alert-heading">ClinDesk and White Coat Academy should only be used for reference</h4><br/>
   <p>Remember, we're a team of medical students. Although we try our best to ensure the accuracy of all our materials,
    we might not always be accurate or up-to-date. Please talk with your physician after using this site.</p>
    <ul>
        <li>Call 911 if you have an emergency</li>
        <li>Don't change your medications without first talking with your doctor</li>
        <li>Always listen to your doctor or medical provider</li>
    </ul><br />
    <a class="btn btn-info" href="#" id="ackbutton">Hide This Warning</a>
</div>
