{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block tagline_text %}About ClinDesk &amp; White Coat Academy{% endblock %}
{% block maincontent%}       <section class="mainContentWrap" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
             xmlns="http://www.w3.org/1999/html">
      <div class="container mainContent">
        <div class="row-fluid">


            <!--sidebar-->

            <aside class="span3 sidebar">

              <div class="well" style="padding: 8px 0;">
                <ul class="nav nav-list">
                  <li class="nav-header">Sidebar Menu</li>
                  <li class="active"><a href="#philosophy"><i class="icon-white icon-info-sign"></i> Our Philosophy</a></li>
                  <li><a href="#team"><i class="icon-user"></i> Meet the Team</a></li>
                  <li><a href="#governance"><i class="icon-file"></i> Non-Profit Governance</a></li>
                  <li><a href="#contact"><i class="icon-envelope"></i> Contact Us</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><i class="icon-flag"></i> Help</a></li>

                </ul>
              </div>

            </aside> <!--end sidebar-->



          <!--main content-->

          <div class="span9">
            <div class="row-fluid">
              <div class="innerSpacer">
                <div class="row-fluid pageTitle">
                  <div class="span12"><h1>Our Philosophy</h1></div>
                </div>
                <div class="row-fluid">
                  <div class="span12"><p>ClinDesk is a team of senior medical students and resident physicians deeply familiar with medical knowledge and education. Our recent experiences in medical school have helped shape our view that there is a disconnect between the training of physicians and the way patients learn about and understand their health.</p>

                  <p>Our mission is to lead the transition of medical education from a proprietary to “open” process. We believe this process should be scalable and agile -- health literacy should be accessible to everyone in a context-appropriate fashion.</p>

                  <p>With that goal in mind, we have designed and built ClinDesk.org, a free video library that opens medical education to patients and their families and friends.Our videos are organized by medical speciality and specific disease, which walk you through the basic biology, “who and when” epidemiology, symptoms, and treatment/outcomes of each condition you or someone you know might be facing.</p>

                  <p>We hope to clearly and concisely extend medical education to patients in an “open” fashion, providing them with the most important information about diseases or conditions they may be confronted with.</p>

                  <div class="divider dotted clearfix"><span></span></div>

                  </div>
                </div>



              </div>
            </div>
          </div>

        </div>


          <div class="row-fluid">

              <div class="span12">
                <div class="row-fluid">
                  <div class="innerSpacer">
                    <h1 id="team">Meet the Team</h1>
                      <div class="row-fluid">
                          <div class="span5 well">
                              <h3>Nick Semenkovich</h3>
                              <h4>Founder &amp; President
                                  <span style="float:right">
                                      <a href="https://twitter.com/semenko" data-rel="tooltip" title="Twitter" class="sm-icon sm-icon-twitter"></a>
                                      <a href="https://www.facebook.com/semenko" data-rel="tooltip" title="Facebook" class="sm-icon sm-icon-facebook"></a>
                                      <a href="https://github.com/semenko" data-rel="tooltip" title="GitHub" class="sm-icon sm-icon-github"></a>
                                      <a href="http://www.quora.com/Nick-Semenkovich" data-rel="tooltip" title="Quora" class="sm-icon sm-icon-quora"></a>
                                  </span>
                              </h4>
                              <span style="float:left; padding-right: 10px;"><img src="{{ static('img/heads/semenko.jpg') }}" width="150"/></span>
                              <span>Nick hails from M.I.T., where he served as Editor in Chief of the student newspaper The Tech. He's currently an MD/PhD student
                                  in the lab of Dr. Jeffrey Gordon, where he's focused on developing bacteriophage therapeutics targeting the microbiome.
                                  <br/><br/><p>E-Mail: <a href="mailto:semenko@clindesk.org">semenko@clindesk.org</a></p>
                              </span>
                          </div>
                          <div class="span5 well">
                              <h3>David Germain</h3>
                              <h4>Chief Operations Officer
                                  <span style="float:right">
                                   <a href="https://twitter.com/keepitgermain" data-rel="tooltip" title="Twitter" class="sm-icon sm-icon-twitter"></a>
                                  <a href="https://www.facebook.com/dgermain" data-rel="tooltip" title="Facebook" class="sm-icon sm-icon-facebook"></a>
                                  </span>
                              </h4>
                              <span style="float:left; padding-right: 10px;"><img src="{{ static('img/heads/dgermain.jpg') }}" width="150"/></span>
                              <span>David spent his undergrad at Stanford and will one day cure leukemia. He's currently an MD/PhD student in the lab of Dr. Tim Ley,
                                    focused on epigenetic regulatory mechanisms of AML. When not at lab, he spends time entertaining his magnificient cat, Osmo.
                                  <br/><br/><p>E-Mail: <a href="mailto:dgermain@clindesk.org">dgermain@clindesk.org</a></p>
                              </span>
                          </div>
                      </div>
                      <div class="row-fluid">
                          <div class="span5 well">
                              <h3>Ray Jean</h3>
                              <h4>Chief Technology Officer
                                  <span style="float:right">
                                  <a href="https://www.facebook.com/raymond.a.jean" data-rel="tooltip" title="Facebook" class="sm-icon sm-icon-facebook"></a>
                                  </span>
                              </h4>
                              <span style="float:left; padding-right: 10px;"><img src="{{ static('img/heads/rayjean.jpg') }}" width="150"/></span>
                              <span>Ray did his undergrad at Harvard where he majored in @@@@@@. He's now a fourth year medical student, taking a year off to
                                  expand the world's medical knowledge while doing research with Dr. Jay Picarillo.
                                  <br/><br/><br/><p>E-Mail: <a href="mailto:rayjean@clindesk.org">rayjean@clindesk.org</a></p>
                              </span>
                          </div>
                          <div class="span5 well">
                              <h3>Aaron Mintz</h3>
                              <h4>CFO &amp; Visionary
                                  <span style="float:right">
                                  <a href="https://www.facebook.com/aaronmintz" data-rel="tooltip" title="Facebook" class="sm-icon sm-icon-facebook"></a>
                                  </span>
                              </h4>
                              <span style="float:left; padding-right: 10px;"><img src="{{ static('img/heads/aaronm.jpg') }}" width="150"/></span>
                              <span>Aaron spent his undergrad years at Stanford, and is currently a fourth year medical student. After his residency, Aaron will
                                  likely direct operations and innovation at a large academic medical center.
                                  <br/><br/><br/><p>E-Mail: <a href="mailto:aaronm@clindesk.org">aaronm@clindesk.org</a></p>
                              </span>
                          </div>

                      </div>
                      
                      <h1 id="governance">Non-Profit Governance</h1>
                     <div class="row-fluid">
{# TODO: Modularize these tabbed sections. #}

                         <!--tabs-->

                           <div class="span8">
                             <ul class="nav nav-tabs">
                               <li class="active"><a href="#home" data-toggle="tab">Overview</a></li>
                               <li><a href="#docs-state" data-toggle="tab">State Filings</a></li>
                               <li><a href="#docs-federal" data-toggle="tab">Federal Filings</a></li>
                               <li><a href="#docs-internal" data-toggle="tab">Policies &amp; Bylaws</a></li>
                             </ul>

                             <div class="tab-content">
                               <div class="tab-pane active" id="home">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.</div>
                               <div class="tab-pane" id="docs-state">
                                   We are a non-profit corporation, incorporated in the State of Missouri. You can access our corporate documents through the Secretary of State's <a href="http://www.sos.mo.gov/business/" target="_blank">Business Services</a> site.
                               <br/><br/><ul><li><a href="https://www.sos.mo.gov/BusinessEntity/soskb/Corp.asp?3353789" target="_blank">ClinDesk Registration &amp; Filings</a> (Charter #N01234644)</li>
                               <li><a href="https://www.sos.mo.gov/BusinessEntity/soskb/Corp.asp?3353954" target="_blank">White Coat Academy Name Registration</a> (Charter #X01234744)</li></ul>
                               </div>
                               <div class="tab-pane" id="docs-federal">Our federal filings for tax-exempt status are currently pending. We will update this site with documents when we know more!<br/><br/>
                               If you need our EIN (or other data, such as our DUNS number), please e-mail us at <a href="mailto:legal@clindesk.org">legal@clindesk.org</a>.</div>
                               <div class="tab-pane" id="docs-internal">We make an effort to publicize our bylaws, conflict of interest policy, and other documents regarding our corporate governance.
                               <br/><br/><ul>
                                   <li>Corporate Bylaws</li>
                                   <li>Conflict of Interest Policy</li>
                                   <li></li>
                               </ul></div>
                             </div>
                            </div>
                           <!--end tabs-->

                     </div>


                      <h1 id="contact">Contact Us</h1>
                     <div class="row-fluid">
                         We love to hear from our visitors! If you have a question, please check the <a href="help.html">Help &amp; FAQ</a> page to see if your question has already been answered.
                         <br/><br/>
                         <div class="span8"><table class="table table-striped">
                                                 <tbody>
                                                   <tr>
                                                     <td>General Questions &amp; Feedback</td>
                                                     <td><a href="mailto:info@clindesk.org">info@clindesk.org</a></td>
                                                   </tr>
                                                   <tr>
                                                     <td>Media &amp; PR Inquiries</td>
                                                     <td><a href="mailto:media@clindesk.org">media@clindesk.org</a></td>
                                                   </tr>
                                                   <tr>
                                                     <td>Legal Inquiries &amp; DMCA Notificant</td>
                                                     <td><a href="mailto:legal@clindesk.org">legal@clindesk.org</a></td>
                                                   </tr>
                             </tbody></table></div>
                     </div>



                  </div>
                </div>
              </div>





          </div>
      </div>
    </section>
{% endblock %}
