{% extends "_base.html" %}
{% block title %}About Us{% endblock %}
{% block tagline_text %}About Us{% endblock %}
{% block lead %}About ClinDesk &amp; White Coat Academy{% endblock %}

{# We want a breadcrumb / header block. #}
{% set header_title = "About" %}
{% set header_text = "Open Source Clinical Resources" %}

{% block maincontent%}
<div class="container">

  <!-- Docs nav
  ================================================== -->
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="#our-philosophy"><i class="icon-book"></i><i class="icon-chevron-right"></i> Our Philosophy</a></li>
        <li><a href="#the-team"><i class="icon-group"></i><i class="icon-chevron-right"></i> Meet the Team</a></li>
        <li><a href="#non-profit-governance"><i class="icon-legal"></i><i class="icon-chevron-right"></i> Non-Profit Governance</a></li>
        <li><a href="#contact-us"><i class="icon-envelope-alt"></i><i class="icon-chevron-right"></i> Contact Us</a></li>
      </ul>
    </div>
    <div class="span9">

      <section id="our-philosophy">
        <div class="page-header">
          <h1>Our Philosophy</h1>
        </div>
          <p class="lead">Our mission is simple: to lead the transition of medical education from a proprietary to
              an “open” process. Current medical education is broken, and far too few people have access to medical knowledge.</p>
          <p class="lead">Through ClinDesk, Inc., a non-profit corporation, we hope to spawn many <a href="https://creativecommons.org/" target="_blank">Creative
              Commons</a>-licensed works and expand the accessibility of medical resources. If you share our vision, and
              you're interested in helping to open the closed state of medical education, please get in touch.</p>
          <p class="lead">You can find some of our advocacy in the New England Journal of Medicine piece:
              <a href="http://nejm200.nejm.org/essay/a-century-after-flexner-the-next-step-is-open/" target="_blank">A Century after Flexner, the Next Step is Open</a></p>
      </section>


      <section id="the-team">
        <div class="page-header">
          <h1>Meet the Team</h1>
        </div>
        <p class="lead">We're a group of senior medical students and resident physicians who are passionate about opening up
            the private world of medical knowledge and education.</p>

          <div class="row-fluid">
              <div class="span6">
                  <h3>Nick Semenkovich</h3>
                  <h4>Founder &amp; President
                      <span style="float:right">
                          <a href="https://twitter.com/semenko" data-rel="tooltip" title="Twitter"><i class="icon-twitter-sign icon-large"></i></a>
                          <a href="https://www.facebook.com/semenko" data-rel="tooltip" title="Facebook"><i class="icon-facebook-sign icon-large"></i></a>
                          <a href="https://github.com/semenko" data-rel="tooltip" title="GitHub" class="sm-icon"><i class="icon-github-sign icon-large"></i></a>
                      </span>
                  </h4>
                  <span style="float:left; padding-right: 10px;"><img class="thumbnail" src="{{ static('img/heads/semenko.jpg') }}" width="150"/></span>
                  <span>Nick hails from M.I.T., where he served as Editor in Chief of the student newspaper The Tech. He's currently an MD/PhD student
                      in the lab of Dr. Jeffrey Gordon, where he's focused on the microbiome.</p>
                  </span>
              </div>
              <div class="span6">
                  <h3>David Germain</h3>
                  <h4>Chief Operations Officer
                      <span style="float:right">
                       <a href="https://twitter.com/keepitgermain" data-rel="tooltip" title="Twitter"><i class="icon-twitter-sign icon-large"></i></a>
                      <a href="https://www.facebook.com/dgermain" data-rel="tooltip" title="Facebook"><i class="icon-facebook-sign icon-large"></i></a>
                      </span>
                  </h4>
                  <span style="float:left; padding-right: 10px;"><img class="thumbnail" src="{{ static('img/heads/dgermain.jpg') }}" width="150"/></span>
                  <span>David spent his undergrad at Stanford and is currently an MD/PhD student in the lab of Dr. Tim Ley,
                        focused on epigenetic regulatory mechanisms of AML. When not at lab, he spends time entertaining his cat, Osmo.</p>
                  </span>
              </div>
          </div>
          <div class="row-fluid">
              <div class="span6">
                  <h3>Ray Jean</h3>
                  <h4>Chief Technology Officer
                      <span style="float:right">
                      <a href="https://www.facebook.com/raymond.a.jean" data-rel="tooltip" title="Facebook"><i class="icon-facebook-sign icon-large"></i></a>
                      </span>
                  </h4>
                  <span style="float:left; padding-right: 10px;"><img class="thumbnail" src="{{ static('img/heads/rayjean.jpg') }}" width="150"/></span>
                  <span>Ray did his undergrad at Harvard where he was an engineering major. He's now a fourth year medical student at Washington University,
                      taking a year off to do research with Dr. Jay Picarillo.</p>
                  </span>
              </div>
              <div class="span6">
                  <h3>Aaron Mintz</h3>
                  <h4>CFO &amp; Visionary
                      <span style="float:right">
                      <a href="https://www.facebook.com/aaronmintz" data-rel="tooltip" title="Facebook"><i class="icon-facebook-sign icon-large"></i></a>
                      </span>
                  </h4>
                  <span style="float:left; padding-right: 10px;"><img class="thumbnail" src="{{ static('img/heads/aaronm.jpg') }}" width="150"/></span>
                  <span>Aaron spent his undergrad years at Stanford where he studied Symbolic Systems. He is currently a fourth year medical student.
                        Aaron is also working on a number of small-scale health innovations.</p>
                  </span>
              </div>

          </div>

      </section>


        <section id="non-profit-governance">
            <div class="page-header">
                <h1>Non-Profit Governance</h1>
            </div>
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Overview</a></li>
                    <li><a href="#docs-state" data-toggle="tab">State Filings</a></li>
                    <li><a href="#docs-federal" data-toggle="tab">Federal Filings</a></li>
                    <li><a href="#docs-internal" data-toggle="tab">Policies &amp; Bylaws</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <p>At ClinDesk and White Coat Academy, we try to be as transparent as possible with our finances and governance
                            (in the hopes that you'll <a href="//www.whitecoatacademy.org/donate.html">donate</a> to help keep us going!).</p>
                        <p>You can see some of our documents listed in the above tabs. Over the next year, we'll expand these listings as we grow.</p>
                        <p>Some documents &mdash; such as the IRS 990 &mdash; won't be available until the next fiscal year, since we're just geting off the ground.</p>
                    </div>
                    <div class="tab-pane" id="docs-state">
                        We are a non-profit corporation, incorporated in the State of Missouri. You can access our corporate documents through the Secretary of State's <a href="http://www.sos.mo.gov/business/" target="_blank">Business Services</a> site.
                        <br/><br/><ul><li><a href="https://www.sos.mo.gov/BusinessEntity/soskb/Corp.asp?3353789" target="_blank">ClinDesk Registration &amp; Filings</a> (Charter #N01234644)</li>
                        <li><a href="https://www.sos.mo.gov/BusinessEntity/soskb/Corp.asp?3353954" target="_blank">White Coat Academy Name Registration</a> (Charter #X01234744)</li></ul>
                    </div>
                    <div class="tab-pane" id="docs-federal">Our federal filings for tax-exempt status are currently pending. We will update this site with documents when we know more!<br/><br/>
                        If you need our EIN (or other data, such as our DUNS number), please e-mail us at <a href="mailto:legal@clindesk.org">legal@clindesk.org</a>.</div>
                    <div class="tab-pane" id="docs-internal">We make an effort to publicize our bylaws, conflict of interest policy, and other documents regarding our corporate governance.
                        <br/><br/><ul>
                            <li>Corporate Bylaws (Coming soon)</li>
                            <li>Conflict of Interest Policy (Coming soon)</li>
                            <li>Copyright and Intellectual Property (Coming soon)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section id="contact-us">
            <div class="page-header">
                <h1>Contact Us</h1>
            </div>
            <div class="row-fluid">
                <p class="lead">We love to hear from our visitors! If you have a question, please get in touch!</p>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>General Questions &amp; Feedback</td>
                        <td><a href="mailto:team@clindesk.org">team@clindesk.org</a></td>
                    </tr>
                    <tr>
                        <td>Media &amp; PR Inquiries</td>
                        <td><a href="mailto:media@clindesk.org">media@clindesk.org</a></td>
                    </tr>
                    <tr>
                        <td>Legal Inquiries &amp; DMCA Notificant</td>
                        <td><a href="mailto:legal@clindesk.org">legal@clindesk.org</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>
  </div>

</div>
{% endblock %}