<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html class="ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 no-js" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} &mdash; ClinDesk, Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="author" content="{% block author %}{% endblock %}" />

    <!-- CSS styles -->
    <link href="{{ static('css/mentor.min.css') }}" rel="stylesheet"/>
    <link href="{{ static('css/skin_blue.css') }}" rel="stylesheet"/>

	<!-- http://remysharp.com/2009/01/07/html5-enabling-script/ -->
	<!--[if lt IE 9]>
		<script type="text/javascript">/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/</script>
	<![endif]-->
	<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
{#    <!-- favicon & iSO touch icons -->
    <link rel="shortcut icon" href="{{ static('favicon.jpg') }}" /> #}
{% include 'ga_tracking_code.html' %}
</head>

<body>
    
    <!--header and menu-->
    <header class="navbar navbar-fixed-top" id="top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="btnTitle">Menu</span>
					<span class="icon-chevron-down icon-white"></span>
				</a>
				<a class="brand" href="index.html" title="Home"><img src="{{ static('img/content/logo.png') }}" alt="mentor" /></a>
				<div class="nav-collapse">

                    <div class="smedia widget widget_search">
                      <form class="form-inline" action="#" id="searchform" method="get" role="search">
                          <input type="text" class="input-medium span3"  placeholder="Search...">
                          <button class="icon-search" type="submit"></button>
                      </form>

                  </div>

					<!--main nav-->
<ul class="nav">
	<li><a href="/index.html">Home</a></li>
	<li class="dropdown">
		<a href="/diseases/">Diseases<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="full_width.html"><i class="icon-th icon-white"></i> &nbsp;<b>View All Topics</b></a></li>
			<li class="divider"></li>
			<li><a href="full_width.html">Heart &amp; Vascular <span class="badge badge-warning">New!</span></a></li>
			<li><a href="full_width.html">Heart &amp; Vascular <span class="badge badge-warning">New!</span></a></li>
			<li><a href="sidebar_right.html">Kidneys <span class="badge badge-info">Updated</span></a></li>
			<li><a href="sidebar_left.html">Lungs</a></li>
			<li><a href="sidebar_left.html">Blood, Bone Marrow, Lymphatics</a></li>
			<li><a href="sidebar_left.html">Digestive and Gastrointestinal</a></li>
			<li class="divider"></li>
			<li><a href="search.html"><i class="icon-question-sign icon-white"></i> &nbsp;Search</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="/special-topics/">Special Topics</a>
	</li>
	<li class="dropdown"><a href="/support.html">Support Us</a>
	</li>
    <li>
   		<a href="/help.html">Help &amp; FAQ</a>
   	</li>
	<li class="last"><a href="/about.html">About</a></li>
</ul>
<!--end main nav-->
					
					
				</div><!--end main menu-->
				
			</div>
		</div>
    </header>
<!-- The tagline is the huge grey banner, right under the navbar. //-->
    <section class="taglineWrap">
          <div class="container">
            <div class="row-fluid  tagline">
              <div class="span8"><h2>{% block tagline_text %}overwrite this tagline_text block{% endblock %}</h2></div>
{#               <div class="span4 action">
                  <div>
                    <a href="#" class="btn first btn-success">Learn More</a>
                    <span>or</span>
                    <a href="#" class="btn btn-info">Contact Us</a>
                  </div>
                </div>  #}
            </div>
          </div> <!-- /container -->
        </section>


{% block maincontent %}{% endblock %}

    <!--footer-->
    <footer>
		<!--footer testimonail-->
{#
		<section class="testimonial">
			<div class="container">
				<div class="row-fluid">
					<div class="span9"><blockquote><p>"Allow us to help you, to help your busines! Call us on <span class="tel">+0044 1034 5623</span> or get in touch via email at <a href="#">mentor@mentorbiz.com</a>"</p><small class="pull-right">Jane Tae, Customer Service</small></blockquote></div>
					<div class="span3 mugshot"><img src="{{ static('img/content/client_mug2.png') }}" alt="client" /></div>
				</div>


			</div>
		</section>
	#}
{# No great way to deal with this. Commented the section, since it adds a cute blue bar thing. #}
		<section class="footerMain">

{#
			<div class="container">
				<div class="row-fluid">

					<div class="span3">
              
                        <div class="widget widget_newsletter">
                          <h3>Newsletter</h3>
                          <p>Lorem ipsum dolor sit amet, consec tetue adipiscing elit. Donec odio. Quis que vol utpat mattis eros. Nullam mal.</p>
                          <form class="form-inline newsletter" action="php/newsletter.php" id="newsletterform" method="get" data-subscribed="Thank You" >
                              <div class="control-group">
                                  <div class="input-append">
                                      <input type="text" name="email" class="input-medium span2"  placeholder="Newsletter.."/>
                                      <button class="btn" type="submit">Signup</button>
                                  </div>
                              </div>
                          </form>
                          <p class="outro">Don't worry, your details are safe with us. For more info. read our <a href="#">privacy policy</a></p>
                        </div>
							
						</div>
						
                          
                        <div class="span6">
							
							<div class="widget widget_recent_entries">
								<h3>Recent Posts <a href="#"><span class="label">Visit The Blog</span></a></h3>
								<ul>
									<li>
										<a class="thumb" href="blog_post_gallery_fullscreen.html"><img src="{{ static('img/content/recent_thumb2.jpg') }}" alt="thumb" /></a>
										<div>
											<a class="title" href="blog_post_gallery_fullscreen.html">The Autumn Of Your Business..</a>
											<p>Lorem ipsum dolor sit amet, consecte tuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet.</p>
										</div>
									</li>
									
									<li class="last">
										<a class="thumb" href="blog_post_gallery_thumbs.html"><img src="{{ static('img/content/recent_thumb1.jpg') }}" alt="thumb" /></a>
										<div>
											<a class="title" href="blog_post_gallery_thumbs.html">Teach A Man To Fish..</a>
											<p>Lorem ipsum dolor sit amet, consecte tuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet.</p>
										</div>
									</li>
									
								</ul>
							</div>  
							
						</div>
						
						<div class="span3 last">
							
							<a href="index.html" class="logo-foot" title="Home"><img src="{{ static('img/content/logo_footer.png') }}" alt="mentor logo" /></a>
							
							<div class="widget widget_stats ">
								<a href="#">8,350<span>RSS</span></a>
								<a href="https://twitter.com/#!/pixelentity">4,170<span>Followers</span></a>
								<a class="last" href="blog_main.html">250<span>Articles</span></a>
							</div>

							<div class="widget widget_links">
								<h3>Links</h3>
								<ul>
									<li><a href="https://twitter.com/#!/ClinDesk">Follow us on Twitter</a><span>&rarr;</span></li>
									<li><a href="http://pixelentity.com">Freebies on pixelentity.com</a><span>&rarr;</span></li>
									<li><a href="http://themeforest.net/user/pixelentity">Join us on Envato</a><span>&rarr;</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
#}
			</section>

			<!--footer lower-->
			<section class="footerLower">
				<div class="container">
					<div class="row-fluid">
						<div class="span3 copyright"><p>&copy; 2012 ClinDesk</p></div>
						<div class="span6 footNav">
							<a class="first" href="index.html">Home</a><span>&#124;</span>
							<a href="full_width.html">Diseases</a><span>&#124;</span>
							<a href="elements.html">Drugs &amp; Pharm</a><span>&#124;</span>
							<a href="support.html">Donate</a><span>&#124;</span>
							<a href="help.html">Help &amp; FAQ</a><span>&#124;</span>
							<a href="about.html">About</a>
						</div>
						<div class="span3 smedia">
                          <a href="https://www.facebook.com/ClinDesk" data-rel="tooltip" title="Facebook"  class="sm-icon sm-icon-facebook"></a>
                            <a href="#" data-rel="tooltip" data-position="bottom" title="Get RSS Feed"  class="sm-icon sm-icon-rss"></a>
                            <a href="contact.html" data-rel="tooltip" data-position="bottom" title="Quick Email"  class="sm-icon sm-icon-email"></a>
                            <a href="https://twitter.com/ClinDesk" data-position="bottom" data-rel="tooltip" title="Follow Us"  class="sm-icon sm-icon-twitter"></a>
                        </div>
					</div>
				</div>
			</section>
		</footer>
		<!--back to top button-->
		<a href="#top" id="peBackToTop" class="label btt disabled"><span class="icon-chevron-up icon-white"></span></a>
{# TODO: Make minified JS. For now, we explode the JS, since I want to cut some of their clutter out. #}

    <!-- import javascript -->
  		<script type="text/javascript" src="{{ static('js/jquery.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/jquery.isotope.min.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/bootstrap/bootstrap.min.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/prettify/prettify.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/boot.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.mousewheel.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.theme.utils.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.utils.easing.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.utils.browser.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.utils.geom.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.utils.preloader.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.utils.transition.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.utils.youtube.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/froogaloop.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.utils.vimeo.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/video/projekktor.min.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.video.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.videoPlayer.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.transform.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.flare.lightbox.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.flare.lightbox.render.image.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.backgroundSlider.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.simplethumb.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe.flare/src/jquery.pixelentity.flare.lightbox.render.gallery.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.volo.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.volo.simpleskin.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.effects.iconmove.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.twitter.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.flickr.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.contactForm.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.newsletter.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.isotope.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.twitter.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.flickr.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.gmap.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.social.facebook.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.social.twitter.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.social.google.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.social.pinterest.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.bslinks.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.contact.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.newsletter.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.isotope.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.bootstrap.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.volo.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/jquery.pixelentity.widgets.carousel.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/pixelentity.controller.js') }}"></script>
  		<script type="text/javascript" src="{{ static('js/pe/init.js') }}"></script>

    {# TODO: Move this to external JS or something. #}
    {# TODO: Can't JS set the cookie? Why not use JS instead of Flask? #}
    <script type="text/javascript">
        $(document).ready(function(){
            if (document.cookie.match('disclaimer') != null) {
                $('#disclaimer').hide();
            }
            $('#ackbutton').click(function(){
                $.ajax({
                    type: "POST",
                    url: "/setcookie",
                    success: function() {
                        $('#disclaimer').hide();
                    }
                });
            });
        });
    </script>
	</body>
</html>
