{% extends "base.html" %}
{% block title %}Support Us{% endblock %}
{% block tagline_text %}Help Open Medicine{% endblock %}
{% block lead %}Donate and help us to create free medical resources{% endblock %}
{% block maincontent %}

<div class="container">
    <br><br>
  <div class="row">
      <div class="span4">
      	<div class="well">
      		<h2 class="muted">Hosting for A Day</h2>
      		<p><span class="label">POPULAR</span></p>
      		<ul>
      			<li>10 users</li>
      			<li>Unlimited access</li>
      			<li>3TB of space</li>
      			<li>E-mail support</li>
      		</ul>
      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
      		<hr>
      		<h3>$15.99 / month</h3>
      		<hr>
      		<p><a class="btn btn-large" href="#"><i class="icon-ok"></i> Select plan</a></p>
      	</div>
      </div>
      <div class="span4">
      	<div class="well">
      		<h2 class="text-warning">Sponsor a Disease</h2>
      		<p><span class="label label-success">POPULAR</span></p>
      		<ul>
      			<li>20 users</li>
      			<li>Unlimited access with no limits</li>
      			<li>5TB of space</li>
      		</ul>
      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
      		<hr>
      		<h3>$10.99 / month</h3>
      		<hr>
      		<p><a class="btn btn-success btn-large" href="#"><i class="icon-ok"></i> Select plan</a></p>
      	</div>
      </div>
      <div class="span4">
      	<div class="well">
      		<h2 class="text-info">Give What You Can</h2>
      		<p><span class="label label-info">BUDGET</span></p>
      		<ul>
      			<li>10 users</li>
      			<li>5TB of space</li>
      		</ul>
      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
      		<hr>
      		<h3>$8.99 / month</h3>
      		<hr>
            <p><a class="btn btn-large" href="#"><i class="icon-ok"></i> Select plan</a></p>
      	</div>
      </div>
  </div>
</div>


{#
                      <h4>Dontatons of any amount are appreciated. Contributions help us directly cover hosting and operational expenses.</h4>
                      <p>
                          <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
                            <input type="hidden" name="returnUrl" value="http://www.clindesk.org/thanks.html" >
                            <input type="hidden" name="processImmediate" value="1" >
                            <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
                            <input type="hidden" name="signatureMethod" value="HmacSHA256" >
                            <input type="hidden" name="collectShippingAddress" value="0" >
                            <input type="hidden" name="isDonationWidget" value="1" >
                            <input type="hidden" name="amazonPaymentsAccountId" value="DKCLGRNGBYIT44TA45I766U33ZQ8MRBMJPQZF5" >
                            <input type="hidden" name="referenceId" value="clindesk-001" >
                            <input type="hidden" name="cobrandingStyle" value="logo" >
                            <input type="hidden" name="immediateReturn" value="1" >
                            <input type="hidden" name="description" value="MedEd: ClinDesk and White Coat Academy" >
                            <input type="hidden" name="abandonUrl" value="http://www.clindesk.org/support.html" >
                            <input type="hidden" name="signatureVersion" value="2" >
                            <input type="hidden" name="signature" value="fLF7+Z18Iz+1Jh+1TDjdopAEAJ5Ly5z3DX8eln6Xv10=" >
                            <font style="vertical-align:top">$</font>&nbsp;<input type="text" name="amount" size="8" value="35.00" style="width:50px;">&nbsp;
                            <input type="submit" value="Donate via Amazon" class="btn btn-info btn-medium" style="margin-bottom:9px">
                          </form>
		      </p>
        #}

{% endblock %}
