{# Analytics Code -- So far, we assume WCA and CD are derived from the same template.
CD: UA-32988270-1
WCA: UA-32988270-2
#}
{%- if "www" in request.environ.HTTP_HOST -%}
<script type="text/javascript">
  var _gaq = _gaq || [];
  
{%- if "whitecoatacademy" in request.environ.HTTP_HOST -%}
  _gaq.push(['_setAccount', 'UA-32988270-2']);
{%- elif "clindesk" in request.environ.HTTP_HOST -%}
  _gaq.push(['_setAccount', 'UA-32988270-1']);
{% endif %}
  _gaq.push(['_setSiteSpeedSampleRate', 100]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
