{% extends "base.html" %}
{% block title %}Help &amp; FAQ{% endblock %}
{% block tagline_text %}Help &amp; Frequently Asked Questions{% endblock %}
{% block maincontent %}
    <section class="mainContentWrap" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
             xmlns="http://www.w3.org/1999/html">
          <div class="container mainContent">
            <div class="row-fluid">
              <div class="span9">
                <div class="row-fluid">
                  <div class="innerSpacer">
{#
                    <!--body search widget for mobile //-->
                    <div class="row-fluid body-search">
                      <div class="span12 widget_search">
                        <form class="form-inline" action="#" method="get" role="search">
                            <input type="text" class="input-medium span3"  placeholder="Search...">
                            <button class="icon-search" type="submit"></button>
                        </form>
                      </div>
                    </div>
#}
                      {% include "elements/disclaimer.html" %}

                    <div class="row-fluid pageTitle">
                      <div class="span12"><h1>FAQ Page Template</h1></div>
                    </div>

                    <!--TOC-->
                    <div class="row-fluid">
                      <div class="span12">
                        <p>The underlying principle behind everything we do at ClinDesk is “approachability” -- both the content in our videos and our site design should be straight-forward and efficient.</p>

                        <p>Everything starts at our homepage: ClinDesk.org, where you’ll find basic information about us, an introductory video to our mission, as well as a simple navigation panel that lets you identify the medical specialty you are interested in learning more about. The most commonly explored conditions within each specialty are listed beneath each specialty icon. This should help you find what specialty you’re looking for and will allow you to get to the most commonly accessed pages more quickly.</p

                        <p>Once you’re visiting the medical specialty of interest to you, simply find the condition you’d like to learn more about and click on the link to visit the dedicated page for that condition. From there, you’ll be presented with the videos we have on that subject.</p>

                        <p>For a given condition, our videos are most often watched top-to-bottom, flowing from basic biology, to “who and when” epidemiology, to symptoms, and finally treatment/outcomes. Of course, feel free to find and watch specific videos that are most relevant to what you’re looking for.</p

                        <p>Each video is also paired with “Quick Notes”, which are our way of getting the most essential information to you as quickly as possible. For example, the “Quick Notes” for a given condition might define a few key terms regarding the specific cells in the human body affected by this condition, the average age of onset of the condition, as well as a list of common modern treatments for the condition.</p>
                        <!--alert success-->
                        <div class="alert alert-block alert-info fade in">
                          <button class="close" data-dismiss="alert">&times;</button>

                          <h5>Follow your doctor's advice. etc. etc. Make this box red? Big warning? Yellow? Acknowledge and cookie?</h5>
                          <p>
                            <a href="contact.html" class="btn btn-info">Contact Us</a>
                          </p>
                        </div>


                      </div>
                    </div>



                    <!--faq items-->
                    <div class="row-fluid">
                      <div class="span12">

                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq1" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                                What if my doctor tells me something different?
                            </div>
                          </div>
                          <div class="faq-body in" id="faq1">
                            <div class="faq-inner">
                                <p>Always listen to your doctor! Medicine is complex and extremely personal. Our understanding of diseases, diagnostics, and therapeutic options are changing daily.</p>
                                <p>ClinDesk and White Coat Academy are only guides to help you understand conditions, and barely skim the surface of medicine. A medical professional knows best!</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->



                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq2" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Can I trust what I find on ClinDesk and White Coat Academy?
                            </div>
                          </div>
                          <div class="faq-body in" id="faq2">
                            <div class="faq-inner">
                                <p>omg omg</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->




                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq3" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Frequently Asked Question 03
                            </div>
                          </div>
                          <div class="faq-body collapse" id="faq3">
                            <div class="faq-inner">
                              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->

                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq4" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Frequently Asked Question 04
                            </div>
                          </div>
                          <div class="faq-body collapse" id="faq4">
                            <div class="faq-inner">
                              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->



                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq5" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Frequently Asked Question 05
                            </div>
                          </div>
                          <div class="faq-body collapse" id="faq5">
                            <div class="faq-inner">
                              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->




                      </div>
                    </div>
                    <!--end faq items-->



                  </div>
                </div>
              </div>

              <aside class="span3 sidebar">

{#
                <!--search widget-->
                <div class="widget widget_search">
                  <form class="form-inline" action="#" id="searchform" method="get" role="search">
                      <input type="text" class="input-medium span3"  placeholder="Search...">
                      <button class="icon-search" type="submit"></button>
                  </form>
                </div>
#}

                <!--contact details widget-->

                <div class="widget widget_contact">
                  <h3>Contact Widget</h3>
                  <div class="address">
                    <span class="icon-map-marker"></span>
                    <p><strong>Mentor Business</strong><br>
                      24 Street Name<br>City Name<br>
                      Country Name</p>
                  </div>

                  <div class="email">
                    <span class="icon-envelope"></span>
                    <p><a href="mailto:support@pixelentity.com">email@mentor.com</a><br></p>
                  </div>

                  <div class="phone">
                    <span class="icon-info-sign"></span>
                    <p>+0044 123 4567 890</p>
                  </div>

                  <div class="vcard">
                    <span class="icon-user"></span>
                    <p><a href="#">Mentor vcard</a></p>
                  </div>

                  <div class="hours">
                    <span class="icon-time"></span>
                    <p class="hours">Mon-Fri: 9:00 &rarr; 18:00<br/>
                      Sat: 10:00 &rarr; 17:00<br/>
                      Sun: Closed</p>
                  </div>

                </div>


                <!--social media widget-->

                <div class="widget widget_social">
                  <h3>Social Media Widget</h3>
                  <a href="#" class="sm-icon sm-icon-pinterest"></a>
                  <a href="#" class="sm-icon sm-icon-dribbble"></a>
                  <a href="#" class="sm-icon sm-icon-skype"></a>
                  <a href="#" class="sm-icon sm-icon-facebook"></a>
                  <a href="#" class="sm-icon sm-icon-vimeo"></a>
                </div>


              </aside> <!--end sidebar-->
            </div>
          </div>
        </section>

{% endblock %}
