{% extends "base.html" %}
{% block title %}Help &amp; FAQ{% endblock %}
{% block tagline_text %}Help &amp; Frequently Asked Questions{% endblock %}
{% block maincontent %}
    <section class="mainContentWrap" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
             xmlns="http://www.w3.org/1999/html">
          <div class="container mainContent">
            <div class="row-fluid">
              <div class="span9">
                <div class="row-fluid">
                  <div class="innerSpacer">
{# Let's see how this reflows on mobile. Can we reflow to mobile videos with a similar approach? #}
                    <!--body search widget for mobile //-->
                    <div class="row-fluid body-search">
                      <div class="span12 widget_search">
                        <form class="form-inline" action="#" method="get" role="search">
                            <input type="text" class="input-medium span3"  placeholder="Search...">
                            <button class="icon-search" type="submit"></button>
                        </form>
                      </div>
                    </div>

                    <!--TOC-->
                    <div class="row-fluid">
                      <div class="span12">
                        <p>The underlying principle behind everything we do at ClinDesk is approachability &mdash; if you find a topic confusing (or think we got something wrong!), e-mail us at <a href="mailto:info@clindesk.org">info@clindesk.org</a>. Keep in mind that we cannot provide any medical advice, but we'd love feedback on our videos!</p>

                      </div>
                    </div>

{# TODO: Can we modularize this more? Like a for loop / import thing from Jinja? #}

                    <!--faq items-->
                    <div class="row-fluid">
                      <div class="span12">

                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq1" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                                What if my doctor tells me something different?
                            </div>
                          </div>
                          <div class="faq-body in" id="faq1">
                            <div class="faq-inner">
                                <p>Always listen to your doctor! Medicine is complex and extremely personal. Our understanding of diseases, diagnostics, and therapeutic options are changing daily.</p>
                                <p>ClinDesk and White Coat Academy are only guides to help you understand conditions, and barely skim the surface of medicine. A medical professional knows best!</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->

                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq2" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Can I trust what I find on ClinDesk and White Coat Academy?
                            </div>
                          </div>
                          <div class="faq-body in" id="faq2">
                            <div class="faq-inner">
                                <p>omg omg</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->

                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq3" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Can I trust what I find on ClinDesk and White Coat Academy?
                            </div>
                          </div>
                          <div class="faq-body in" id="faq3">
                            <div class="faq-inner">
                                <p>omg omg</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->


                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq4" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Can I trust what I find on ClinDesk and White Coat Academy?
                            </div>
                          </div>
                          <div class="faq-body collapse" id="faq4">
                            <div class="faq-inner">
                                <p>omg omg</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->


                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq5" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Can I trust what I find on ClinDesk and White Coat Academy?
                            </div>
                          </div>
                          <div class="faq-body collapse" id="faq5">
                            <div class="faq-inner">
                                <p>omg omg</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->


                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq6" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Can I trust what I find on ClinDesk and White Coat Academy?
                            </div>
                          </div>
                          <div class="faq-body collapse" id="faq6">
                            <div class="faq-inner">
                                <p>omg omg</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->


                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq7" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Can I trust what I find on ClinDesk and White Coat Academy?
                            </div>
                          </div>
                          <div class="faq-body collapse" id="faq7">
                            <div class="faq-inner">
                                <p>omg omg</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->


                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq8" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Can I trust what I find on ClinDesk and White Coat Academy?
                            </div>
                          </div>
                          <div class="faq-body collapse" id="faq8">
                            <div class="faq-inner">
                                <p>omg omg</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->


                        <!--FAQ-->
                        <div class="faq">
                          <div class="faq-heading">

                            <div data-target="#faq9" data-toggle="collapse">
                              <i class="icon-question-sign"></i>
                              Can I trust what I find on ClinDesk and White Coat Academy?
                            </div>
                          </div>
                          <div class="faq-body collapse" id="faq9">
                            <div class="faq-inner">
                                <p>omg omg</p>
                            </div>
                          </div>
                        </div>
                        <!--END FAQ ITEM-->


                      </div>
                    </div>
                    <!--end faq items-->



                  </div>
                </div>
              </div>

              <aside class="span3 sidebar">

{#
                <!--search widget-->
                <div class="widget widget_search">
                  <form class="form-inline" action="#" id="searchform" method="get" role="search">
                      <input type="text" class="input-medium span3"  placeholder="Search...">
                      <button class="icon-search" type="submit"></button>
                  </form>
                </div>
#}

                <!--contact details widget-->

                <div class="widget widget_contact">
                  <h3>Contact Widget</h3>
                  <div class="address">
                    <span class="icon-map-marker"></span>
                    <p><strong>Mentor Business</strong><br>
                      24 Street Name<br>City Name<br>
                      Country Name</p>
                  </div>

                  <div class="email">
                    <span class="icon-envelope"></span>
                    <p><a href="mailto:support@pixelentity.com">email@mentor.com</a><br></p>
                  </div>

                  <div class="phone">
                    <span class="icon-info-sign"></span>
                    <p>+0044 123 4567 890</p>
                  </div>

                  <div class="vcard">
                    <span class="icon-user"></span>
                    <p><a href="#">Mentor vcard</a></p>
                  </div>

                  <div class="hours">
                    <span class="icon-time"></span>
                    <p class="hours">Mon-Fri: 9:00 &rarr; 18:00<br/>
                      Sat: 10:00 &rarr; 17:00<br/>
                      Sun: Closed</p>
                  </div>

                </div>


                <!--social media widget-->

                <div class="widget widget_social">
                  <h3>Social Media Widget</h3>
                  <a href="#" class="sm-icon sm-icon-pinterest"></a>
                  <a href="#" class="sm-icon sm-icon-dribbble"></a>
                  <a href="#" class="sm-icon sm-icon-skype"></a>
                  <a href="#" class="sm-icon sm-icon-facebook"></a>
                  <a href="#" class="sm-icon sm-icon-vimeo"></a>
                </div>


              </aside> <!--end sidebar-->
            </div>
          </div>
        </section>

{% endblock %}
