<section class="taglineWrap">
<div class="container">
<div class="row-fluid sliderWrap">
<div class="span12">

	<!--start slider-->
	<div class="peVolo" data-autopause="enabled">

		<div data-delay="3" class="visible">
			<a href="#"><img src="{{ static('img/content/slide1.jpg') }}" alt="Image" /></a>
		</div>
		<div data-delay="3">
			<a href="#"><img src="{{ static('img/content/slide4.jpg') }}" alt="Image" /></a>
		</div>
		<div data-delay="3">
			<a href="#"><img src="{{ static('img/content/slide3.jpg') }}" alt="Image" /></a>
		</div>
		<div data-delay="3">
			<a href="#"><img src="{{ static('img/content/slide2.jpg') }}" alt="Image" /></a>
		</div>

	</div>
                <!--end slider-->

</div>
</div>
<div class="row-fluid  tagline">
<div class="span8"><h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, donec odio. Quisque volutpat mattis eros.</h2></div>
<div class="span4 action">

	<div>
		<a href="#" class="btn first btn-success">Learn More</a>
		<span>or</span>
		<a href="#" class="btn btn-info">Contact Us</a>
	</div>

</div>
</div>
</div> <!-- /container -->
</section>