---
layout: calculators.hbs
calc_title: TIMI Risk Score for STEMI
calc_short_description: ST Segment Elevation Myocardial Infarction
calc_active: active
---

<div class="bs-callout bs-callout-warning">
    <div class="alert alert-info"><strong>Coming Soon!</strong> We're putting the finishing touches on these calculators.</div>
</div>